/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

/* Nav Styles */
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0 1.5rem 0;
}
.nav-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
}
.list-item{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}
.list-item li{
    list-style: none;
    margin-left: 1rem;
}
.list-item li a {
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
}


/* Camera part styles */
.camera-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 6.5rem;
    gap: 5rem;
}
.camera-text{
    padding: 0 2rem;
}
.camera-text h1{
    color: #3A3A3A;
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.camera-text p{
    color: #3A3A3A;
    font-weight: 600;
}
.btn-primary{
    margin-top: 1rem;
    font-size: 1rem;
    border-radius: 2.5625rem;
    background: #E02C6D;
    padding: 1rem 2rem;
    color: #fff;
    font-weight: 700px;
    border-style: none;
    text-align: center;
}
.btn-primary i{
    margin-left: 0.8rem;
}

.circle-img{
    background-image: url(images/Circle\ design.svg);
    width: 29.1rem;
    height:29.1rem;
}



/* Online shopping store  */
.online-store{
    display: flex;
    justify-content: space-evenly;
    margin: 0 4rem;
}


/* Popular Collection styles */
.Popular-collection-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 0 12rem;
    gap: 1rem;
}
.collection-main-title{
    text-align: center;
    padding-bottom: 2rem;
    margin-top: 10rem;
}
.collection-container{
    width: 20.5625rem;
    height: 29.75rem;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 1rem 0.8rem;
}
.collection-title{
    color: #3A3A3A;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 4.375rem; /* 250% */
    padding-top: 1rem;
}
.collection-price{
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%; /* 2.25rem */
}
.collection-description{
    color: #787885;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 143%; /* 1.25125rem */
    letter-spacing: 0.01575rem;
}




@media screen and (max-width:576px) {
    .nav-bar{
        flex-direction: column;
    }
    .camera-container{
        flex-direction: column-reverse;
        gap: 2rem;
        margin: 3rem 2.5rem;
    }
    .camera-img, .circle-img{
        height: 100%;
        width: 100%;
    }
    .camera-text {
        padding: 0 1rem;
        text-align: center;
    }
    .camera-text h1{
        font-size: 1.5rem;
    }
    .online-store{
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0 2rem;
    }
    .online-store img{
        width:3.6rem;
        height: 1.06rem;
    }
    .Popular-collection-container{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
}
@media screen and (min-width:576px) and (max-width:960px) {
    .nav-bar{
        flex-direction: column;
    }
    .camera-container{
        flex-direction: column-reverse;
        gap: 2rem;
        margin: 3rem 2.5rem;
    }
    .camera-img, .circle-img{
        height: 100%;
        width: 100%;
    }
    .camera-text {
        padding: 0 1rem;
        text-align: center;
    }
    .camera-text h1{
        font-size: 1.5rem;
    }
    .Popular-collection-container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}